.contact-form {
    max-width: 500px;
    margin: auto;
}

.contact-form h2 {
  color: #2b2b2b;
  text-align: center;
}

.contact-form p {
  color: #2b2b2b;
  text-align: center;
}

.contact-items{
  display: flex;
  flex-direction: column;
}

.contact-items input,
.contact-items textarea,
.contact-items button {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; 
}

.contact-items input:focus,
.contact-items textarea:focus {
  outline: none;
  border-color: #007bff;
}

.contact-items button {
  background-color: #0000001a;
  border: 1px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 30px; 
  align-self: flex-start;
}

.contact-items button:hover {
  background-color: #b4b4b8;
}

.link-buttons-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
 }

 .submit-button:disabled {
  background-color: #cccccc; 
  cursor: not-allowed;
 }
